<div class="content">
<h2 class="forget-title">パスワードをお忘れの方</h2>
  <div class="forget">
    <div class="forget-error"></div>
    <div class="forget-container">
      <div class="login-container-contents">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "認証メールを送信する" %>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
  
