 <header id="header"></header>
<div id="contents">
  <aside id="sub">
    <div class="box">
  </aside>

 <main id="main">
<div class="post-box">
<%= @user.nickname %><br>
  <%= @post.content %><br>
  <%= image_tag @post.image.variant(resize: '500x500'), class: 'post-image' if @post.image.attached? %>
  <%= @post.created_at %><br>
</div>
<div class="post-box">

            <%= form_with(model: [@goal, @post, Comment.new], url: goal_post_comments_path(@goal, @post), local: true,id: "post") do |form| %>
            
  <%= form.text_area :comment, placeholder: "text" %>
  <%= form.submit "SEND" %>


  <% end %>
 </div>



      <% @comments.each do |comment| %>
      <div class="post-box">
         
          <%= comment.comment %>
         </div>
      <% end %>
   
       
  </main>
  <aside id="sub">
    <div class="box">
     
    </div>
  </aside>
</div>

 