<article>
  <div class="loop_wrap">
      <div>
      TODAY IS THE YOUNGEST DAY OF YOUR LIFE,TRY NEW ME.
      </div>
      <div>
      TODAY IS THE YOUNGEST DAY OF YOUR LIFE,TRY NEW ME.
      </div>
    </div>
</article>

<div class="anchor">
<%= link_to "TRY", new_goal_path, class: :anchor %>
<div class="anchor">|</div>
<%= link_to "CHAT", rooms_path, class: :anchor %>
</div>
<%if user_signed_in?%>
<div class="goal-info">
  <% @goals.each do |goal| %>
  <%= link_to goal_path(goal), class: "goal-button" do %>
    
      <% if goal.deadline %>
        <span><%= goal.goal %></span><br>
        <% if goal.deadline > Date.today %>
          <% days_remaining = (goal.deadline - Date.today).to_i %>
          <span>期日まで残り <%= days_remaining %> 日</span>
        <% else %>
          <span>期日が過ぎています</span>
        <% end %>
      <% end %>
    
  <% end %>
<% end %>

</div>
<% end %>




