<header id="header"></header>
<div id="contents">
  <aside id="sub">
<div class="new">
<%= link_to "新規目標", new_goal_path %>
<%= link_to "チャット", rooms_path %>
</div>

 <div class="goal-info">
  <% @goals.each do |goal| %>
  <%= link_to goal_path(goal), class: "goal-button" do %>
    
      <% if goal.deadline %>
        <span><%= goal.goal %></span><br>
        <% if goal.deadline > Date.today %>
          <% days_remaining = (goal.deadline - Date.today).to_i %>
          <span>期日まで残り <%= days_remaining %> 日</span>
        <% else %>
          <span>期日が過ぎています</span>
        <% end %>
      <% end %>
  <% end %>
<% end %>

     
  </aside>
  <main id="main">
    <div class="goal_title"><%= @goal.goal %>
      <div id="dropdown" class="dropdown">
        <div id="btn" class="btn" >…</div>
        <ul id="more_list" class="more_list">
          <% if user_signed_in? && current_user.id == @goal.user_id %>
            <li>
              <%= link_to '編集', edit_goal_path(@goal.id) %>
            </li>
            <li>
              <%= link_to '削除', goal_path(@goal.id), data: { turbo_method: :delete } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

     
     <div class="post-box">
            <%= form_with(model: [@goal, Post.new],local: true) do |form| %>
            <%= form.text_area :content, placeholder: "text"%>
            <%= form.file_field :image %>
            <%= form.submit "SEND" %>
            <% end %>
        </div>

        <% @posts.each do |post| %>
        <div class="post-box">
       <%= link_to goal_post_path(@goal, post),data: { turbo: false } do%>
                <%= post.content %><br>
                <%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' if post.image.attached? %>
                 <% end %> 
                 <%= link_to '削除', goal_post_path(@goal,post), data: { turbo_method: :delete }  %>
               </div>
           
            <% end %>

  </main>
 